*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    max-width:100vw ;
    background-color: aqua;
    display: grid;
    grid-template-row: 1fr 1fr 1fr 1fr;
}

.todo , .calendar , .files{
     
    height: 100px;
    width: 50em;
    background-color: aquamarine;
    margin: auto;
    
}

.todo {

}
.calendar{

}
.files{

}
.buttoncont{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button{
    width: 150px;
    height: 50px;
    padding: 10px; /* Adjust as needed for spacing inside the button */
    margin: 5px;
    background-color: rgb(215, 135, 135);
}
.menu{
justify-content: right;
}
.btnlist{

}
.btncal{

}
.acc{
justify-content: left;
}